.filter{
  background-color: #302e40;
  
}
.dropdown-toggle{
  color:#ffffff;
}

.btn-primary {
  background-color: #394cff;
  color: #ffffff;
}

.btn-primary:hover{
  background-color: darkblue;
}
.btn-success{
  background-color: #394cff;
}
.btn-success:hover{
  background-color:darkblue;
}


.student-info{
  color: #302e40;
  text-align: center;
}

.student{
 background-color:  #302e40;
}

.filterSelected{
  color: #ff0b73;

}
.student-image{
  border-bottom-color: #ff0b73;
}
.student-name{
text-align: center;
}
img{
    display:block;
    margin:auto;
    border-radius: 100px;
}
.btn-danger {
  color: beige;
  /* border-color: #d43f3a; */
  border-radius: 30px;
  margin-left: 6px;
  background-color: #ff0b73;
}

.thumbnail{
    height: 550px;
    border-bottom: 4px solid #ff0b73;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.student-info{
    height: 280px;
    color:#302e40;
}

.btn-danger:hover {
  color: #fff;
  background-color: #ff0b73;
}